$brand-color: #F38020;
$brand-blue: #2c7cb0;
$brand-blue-light: #c6d8ef;
$success-color: #79C698;
$warning-color: #f4a15d;
$danger-color: #bf223c;

.brand-color { background-color:$brand-color;}
.brand-blue { background-color:$brand-blue;}
.brand-blue-light { background-color:$brand-blue-light;}
.brand-blue-text {color: $brand-blue;}
.brand-blue-light-text {color: $brand-blue-light;}
.brand-color-text {color: $brand-color;}
.success-text {color: $success-color;}
.warning-text {color: $warning-color;}
.danger-text {color: $danger-color;}

body {
	background-color: #e6e6e6;
}
section {
	padding: 64px 0 0 0;
}
a {
	color: $brand-blue;
	&:hover {color: #f4a15d;}
	&:focus {color: #54a2d4;}
	&:active {color: #0D2630;}
}
.navbar {
	box-sizing: content-box;
	border-top: 3px solid $brand-color;
	.brand-logo {
    position: absolute;
    color: #333;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0;
    font-weight: 300;
		svg {
			width:32px;
			height: 32px;
			position: relative;
			top: 7px;
			path {
				fill: $brand-color;
			}
		}
	}
	&.nav-extended {
		.row {margin-bottom: 0;}
	}
	ul {
		a {
			color: #72777B;
			font-weight: 200;
			&:hover {color: #72777B;}
			i {float: left; margin-right:4px;}
		}
	}
}



.search-bar {
	background-color: $brand-blue;
	input {
		color: rgba(255,255,255,0.7);
		&::placeholder {
			color: rgba(255,255,255,0.7);
		}
		&:focus {
			&::placeholder {
				color: rgba(0,0,0,0.5);
			}		
		}
	}
}






.container .nav-wrapper .input-field input[type=search] {
    height: 64px;
}
.input-field input[type=search]:focus:not(.browser-default) {
	// background-color: rgba(255,255,255,0.8);
	background-color: #c6d8ef;
	color: #444;
}


.btn {
	&.brand-blue {
		background-color: $brand-blue;
		&:hover {background-color: darken($brand-blue, 10%); color: #fff!important;}
		&:active {background-color: darken($brand-blue, 10%); color: #fff!important;}
		&:focus {background-color: darken($brand-blue, 10%); color: #fff!important;}
	}
}
.card {
	&.horizontal {
		flex-flow: row wrap;
		.card-content {
			// width: 70%;
			p {
				&:not(:last-child) {
					margin-bottom: 1em;
				}
			}
		}
		.card-right {
			position: relative;
			// width: 30%;
			background-color: #eee;
			text-align: center;
			border-left: 1px solid rgba(160,160,160,0.2);
			a {margin: 0 auto;}
		}
		.card-action {
			width: 100%;
		}
	}
	.card-action {
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    position: relative;
    padding: 16px 24px;
		&.top {border-top: none; border-bottom: 1px solid rgba(160,160,160,0.2);}
		&.success {background-color: $success-color; color: #fff;}
		&.warning {background-color: $warning-color; color: #fff;}
		&.danger {background-color: $danger-color; color: #fff;}
		a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
			color: #2c7cb0;
			&:hover {color: #f4a15d;}
			&:focus {color: #54a2d4;}
			&:active {color: #0D2630;}
		}
	}	
}
.btn-floating {
	background-color: $brand-color;
	&:hover, &:focus, &:active {background-color: darken($brand-color, 10%);}
}




.page-footer {
  color: #333;
  background-color: #fff;
	.footer-copyright {color: inherit; background-color: inherit;}
}


.collapsible {
	width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0;
	border-left: none;
	border-right: none;
	.collapsible-header {
		width: 100%;
		padding:0.5rem 24px;
	}
}











// REDUCE PARAGRAPH SIZE ON MOBILE
@media only screen and (max-width: 640px) {
	p,li {
		font-size: 13px;
		transition: all ease 0.3s;
	}
	ul.browser-default {
		padding-left: 16px;
	}
}




// HEADINGS
h1 {
	font-size: 4rem;
	font-weight: 300;
	letter-spacing: -1.5px;
}
h2 {
	font-size: 3.75rem;
	font-weight: 300;
	letter-spacing: -0.5px;
}
h3 {
	font-size: 3rem;
	font-weight: 400;
}
h4 {
	font-size: 2.125rem;
	font-weight: 400;
	letter-spacing: -0.25px;
}
h5 {
	font-size: 1.5rem;
	font-weight: 400;
}
h6 {
	font-size: 1.25rem;
	font-weight: 500;
	letter-spacing: -0.15px;
}